<h1> Select a Move to Add </h1>



<table class = "moves" summary = "List of Moves" >
	<tr>
	  <th>Move Name</th>
	  <th>Start Up</th>
	 	<th>Hit</th>
	 	<th>Recovery</th>
	 	<th>Hit Advantage</th>
	</tr>
	<%= render @character.moves	%>
</table>


<h2>How do I know what to add?</h2>
<%= image_tag 'character_demo.gif'%>
<p>

</p>