%h2 Welcome!
%p Welcome to the first online fighting game training tool! Ever feel the need to practice fighting game combos but lacked	convenient access to the game? Now it is possible to train on any computer with only an Internet connection.

%h2 What's a combo?
%p Originally a glitch in the first StreetFighter game, considered the birth of competitive 2-dimensional fighting games, "combos" have evolved as a cornerstone of the modern fighting game. A "combo", short for combination, is series of attacks, or superficially button presses, that once started cannot be blocked and seek to maximize damage in order to defeat your opponent. They provide an intense competitive advantage, and because of this they require very strict timing. The difference of a few milliseconds could connect that last hit and bring your opponent to their defeat or leave you vulnerable to the very same fate.

%h2 Can I really practice for any 2D fighting game?
%p The future answer is yes! The system is fully able to handle any game with tradition 2D fighting mechanics. However, the technical data for each character needs to be available, so for the launch, it has been decided to start with a cult classic which has recently been re-released, Street Fighter 3: The Third Strike. All of the character data has been made available. Also rest assured, other games will be added here as soon as possible!

%h2 Where do I start?
%p Pick a character and you will be on your way to execution perfection.

%h2 Select your character!


<ul id="character_list_home" >
=render @characters
</ul>