<li>
	<%= link_to image_tag("portraits/#{character.name.downcase}-face.gif"), character_path(character)%>
	<span class="character_link"><%= link_to character.name.capitalize, character_path(character.id) %></span>
</li>