<tr>
  <td class="combo_name">
    <%= link_to combo.name, combo_path(combo)%>
  </td>
  <td class="combo_moves">
    <%= combo.combo_items.map{|c| c.move.name}.join ' -> ' %>
  </td>
  <td class="combo_submitter">
    <%= link_to combo.user.username, user_path(combo.user) %>
  </td>
</tr>
