// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	background-color: #0D4889;
}

#container {
	margin: 0 auto 0 auto;
	background-color: #0D4889;
	padding: 10px;
	color: #E7E7E7;
}

body {
	padding: 0;
	margin: 0;
}


#content {
	margin: 0 auto 0 auto;
	width: 610px;
	padding: 10px;
} 

#sidebar {
	width: 100px;
	height: auto;
	float: left;
	padding: 100px 0px 0px 100px;

	
}

#header {
	margin: 0 auto 0 auto;
	width: 900px;
	height: 0px;
	margin-bottom: 10px;
} 

a {
	&:link {color: #E7E7E7; text-decoration:none;}
	&:visited {color: #E7E7E7; text-decoration:none;}
	&:hover {color: #E7E7E7; text-decoration:underline;}
}

.portrait {
	img {
	}
}


h1 {
	text-align: center;
}


.Msg {
	text-align: center;
	font-size: 20px;
}

.Timer {
	text-align: center;
	font-size: 40px;
}

.Dots {
	font-size: 80px;
}

table#home_characters {
	text-align:center;
	margin:auto;
}
table#sidebar_charactes {
	img {display:none}

}

table.character_combos_table {
	text-align:left;
	border-style:solid;
	border-width:4px;

	

	td {

		border-top: 1px solid;
		border-bottom: 1px solid;

		.combo_name {
			width:200px;
		}
		.combo_moves {
			width:500px;
		}
		.combo_submitter {
			width:100px;
		}	
		.combo_votes {
			width:100px;
		}
	}
	


}

#character_portrait{
	img {  
		display: block;
		margin:auto;
	}
}

.character_link {
	display:block;
}

.my_button {
	margin:auto;
	font-size: 20px;
	text-align:center;
	background:#E7E7E7;	
	a {
		color:black;
	}
}
